# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/

# Venv
venv/
env/
ENV/
.venv/

# Env & secrets
.env
.env.local
.env.production

# Logs
*.log
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
